<div class="NavbarPage">

<h1>Freshnesecom</h1>

<div class="search">

  <div class="allCategories">

  <p class="categories" (click)="ListBtn()" >{{CategoryName}} <img src="../../../assets/images/Vector.png" alt="" /></p>

  <div class="categoriesList" *ngIf="showList === true">
    <p (click)="[ListBtn() , useCategory('')]">All categories</p>
    <p (click)="[ListBtn() , useCategory(category)]" *ngFor="let category of categories" >{{category}}</p>
  </div>

</div>

  <input type="text" [(ngModel)]="searching" (keyup)="searchingResult()" placeholder="Search">

</div>

<div class="navImages">
  <img src="../../../assets/images/ic-actions-user.png" alt="">
  <img src="../../../assets/images/ic-ecommerce-basket.png" class="basket" alt="">
  <span class="orderCounter" >{{_ApiServiceService.counter}}</span>
</div>

</div>
