.sitePage{
  width: 100vw;
  height: 100vh;
}

.myHeader{
  width: 100%;
  height: 10%;
  margin-top: 0% !important;
}

.Navbar{
  width: 100%;
  height: 8%;
}

// .categories{
//   width: 100%;
//   height: 7%;
//   background-color: #f9f9f9;
// }

.mainContent{
  width: 100%;
  height: 82%;
  display: flex;

  app-side-bar{
    width: 15%;
    height: 100%;
  }

  app-page-content{
    width: 85%;
    height: 100%;
  }

}

@media screen and (max-width: 768px){
  .mainContent{
    width: 100%;
    height: 82%;
    display: flex;
    justify-content: center;

    app-side-bar{
      width: 0% !important;
      height: 0% !important;
    }

    app-page-content{
      width: 75% !important;
      height: 100% !important;
    }

}
}
