<div class="categoriesPage">

  <div class="categoriestypes">

  <div class="catType">
    <p>Bakery <img src="../../../assets/images/Vector.png" alt="" /> </p>

  </div>

  <div class="catType">
    <p>Fruit and vegetables <img src="../../../assets/images/Vector.png" alt="" /> </p>

  </div>

  <div class="catType">
    <p>Meat and fish <img src="../../../assets/images/Vector.png" alt="" /></p>

  </div>

  <div class="catType">
    <p>Drinks <img src="../../../assets/images/Vector.png" alt="" /></p>

  </div>

  <div class="catType">
    <p>Kitchen <img src="../../../assets/images/Vector.png" alt="" /></p>

  </div>

  <div class="catType">
    <p>Special nutrition <img src="../../../assets/images/Vector.png" alt="" /></p>

  </div>

  <div class="catType">
    <p>Baby <img src="../../../assets/images/Vector.png" alt="" /></p>

  </div>

  <div class="catType">
    <p>Pharmacy <img src="../../../assets/images/Vector.png" alt="" /></p>

  </div>

</div>

</div>
